[Unit]
Description=unicom-daemon
After=network.target media-storage.mount media-movie.mount media-tvshow.mount media-active.mount

[Service]
Type=simple

ExecStart=unicom-daemon

Restart=on-failure

# Configures the time to wait before service is stopped forcefully.
TimeoutStopSec=600

[Install]
WantedBy=multi-user.target
